.bookings{
    margin: 1rem;
    padding: 0.5rem;
    width: fit-content;
    height: auto;
    background-color:blueviolet;
    border-radius: 20px;
}

img{
    border-radius: 20px;
    width: 10rem;
    height: auto;
}

h6{
    font-weight: 500;
}

.tickets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ticket{
    margin: 5px;
    width: 25px;
    height: 25px;
    background-color:#FD8815;
    border-radius: 50px;
    color: black;
}