<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Movie Name</th>
            <th scope="col">Description</th>
            <th scope="col">Poster</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Seats</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        
    </tbody>
</table>