<div class="table-responsive tb">
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Movie Name</th>
                <th scope="col">Description</th>
                <th scope="col">Poster</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Seats</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="">
            <tr *ngFor="let movie of allMovie.movies; index as i;">
                <th scope="row">{{i}}</th>
                <td>{{movie.moviename}}</td>
                <td>{{movie.moviedesc}}</td>
                <td>
                    <div>
                        <img [src]="movie.movieposter" width="120" alt="" srcset="">
                    </div>

                </td>    
                <td>{{movie.price}}</td>
                <td>{{movie.quantity}}</td>
                <td >
                    <div class="d-flex flex-wrap">
                        <div *ngFor="let seat of movie.seats;index as i;">
                            <div *ngIf="seat == true; else elseBlock">
                                <div class="seats-red"></div>
                            </div>
                            <ng-template #elseBlock>
                                <div class="seats"></div>
                            </ng-template>
                        </div>
                    </div>
                </td>
                <td><app-movie-action-list/></td>
            </tr>
    
        </tbody>
    </table>
</div>