.dash{
    padding: 2rem 5rem;
    
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
    background-color: #fad5af;
}
.all{
    background-color: #c0acfe;
    padding-bottom: 2rem;
}