<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand logo-txt" href="#">MO<span>VIEW.</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div *ngIf="isLoggedIn == true">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/home">HOME</a>
                    </li>

                </div>

                

                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">LINK</a>
                </li> -->
            </ul>


            <ul class="navbar-nav  mb-2 mb-lg-0 d-flex">

                <div *ngIf="isLoggedIn == true">
                    <li class="nav-item btn">
                        <a class="nav-link profile-icon" href="/about">
                            <img src="https://github.com/ashishsahu1/Movie-Ticket-Usecase/assets/52550558/2120e5e0-6909-43af-96e5-35fabb049719" alt="" srcset="">
                        </a>
                    </li>
                </div>

                <div *ngIf="isLoggedIn == true; else elseBlock">
                    <li class="nav-item btn">
                        <a class="nav-link" (click)="logOut()" href="/">LOGOUT</a>
                    </li>
                </div>
                <ng-template #elseBlock>
                    <li class="nav-item btn">
                        <a class="nav-link" href="/auth">LOGIN</a>
                    </li>
                </ng-template>


            </ul>

        </div>
    </div>
</nav>