<div class="form-main container-sm">
    <div class="mb-5">
        <h1 class="text-light mb-5">Login</h1>
    </div>
    <form (ngSubmit)="loginHandler()">
        <div class="mb-3 ff">
            <label for="email" class="form-label text-light">Email address</label>
            <input name="email" [(ngModel)]="loginData.email" type="email" class="form-control text-bg-dark" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text text-light-emphasis">We'll never share your email with anyone else.
            </div>
        </div>
        <div class="mb-3 ff">
            <label for="password" class="form-label text-light">Password</label>
            <input name="password" [(ngModel)]="loginData.password" type="password" class="form-control text-bg-dark" id="password">
        </div>
        <button type="submit" class="btn btn-lg btn-warning mt-3">Login</button>
    </form>
</div>