<form>
    <div class="mb-3">
        <label for="moviename" class="form-label">Movie Name</label>
        <input type="text" class="form-control" id="moviename">
    </div>
    <div class="mb-3">
        <label for="moviedesc" class="form-label">Description</label>
        <input type="text" class="form-control" id="moviedesc">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price">
    </div>
    <button type="submit" class="btn btn-primary">Add Movie</button>
</form>