<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Bookings</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of allUser.users; index as i;">
            <th scope="row">{{i}}</th>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td><app-bookinglist [bookinglist]="user.bookings"/></td>
            <td><app-user-actions/></td>
        </tr>
        
    </tbody>
</table>

