<div class="hero">
    <div class="cardd">
        <div class="main container">
            <div class="left">
                <h1>
                    BOOK YOUR TICKETS <span>NOW</span>
                </h1>
            </div>
            <div class="right">
                <img src="https://github.com/ashishsahu1/Movie-Ticket-Usecase/assets/52550558/6c944b38-c628-4d54-86e2-133338e24bcc"
                    alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="blob"></div>
    <div class="blob2"></div>
</div>