<app-navbar/>
<section class="container">
    <h2>Book Your Seats <span>Now</span></h2>
    <div class="movie-details mt-5 d-flex">
        <div class="poster p-2">
            <img [src]="movieData.movie.movieposter" alt="" srcset="">
        </div>
        <div class="txts p-2">
            <h4>{{movieData.movie.moviename}}</h4>
            <p>{{movieData.movie.moviedesc}}</p>
        </div>
    </div>

    <div class="seats-grid">
        <div class="chk" *ngFor="let seat of seats; let i = index">
            <div *ngIf="isSeatAvail(i); else elseBlock">
                <label disabled class="chk-label ds">
                    <input class="chk-inp" disabled type="checkbox" [(ngModel)]="seat.selected" (change)="updateSelectedSeats()"> {{ i }}
                </label>
                <!-- <p>Na</p> -->
            </div>
            <ng-template #elseBlock>
                <label class="chk-label">
                    <input class="chk-inp" type="checkbox" [(ngModel)]="seat.selected" (change)="updateSelectedSeats()"> {{ i }}
                </label>
            </ng-template>
            
        </div>
    </div>

    <div class="price mt-5 mb-5">
        <table class="table-responsive-xl">
            <thead>
                <tr>
                    <th scope="col">Ticket price</th>
                    <th scope="col">No of seats</th>
                    <th scope="col">Total Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Rs {{movieData.movie.price}}</td>
                    <td>{{selectedSeats.length}}</td>
                    <td><h4>Rs {{movieData.movie.price * selectedSeats.length}}</h4></td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <button class="btn btnn btn-primary" (click)="bookSeats()">Book Tickets</button>
</section>