.about-page{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.about-page .ct{
    min-width: 20rem; 
    width:50%;
    border-radius: 30px;
    /* From https://css.glass */
        background: rgba(46, 21, 70, 0.05);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(24, 10, 37, 0.075);
}

.profile-photo{

    display: flex;
    justify-content: center;
    align-items: center;
   
    border-radius: 20px;
}


.prof{
    margin: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: blueviolet;
    border-radius: 70px;
}

.profile-photo img{
    width: 8rem;
    height: auto;
}

.profile-text *{
    margin: 1rem 0rem;
}

.profile-bookings{
    
}