<app-navbar />
<div class="about-page d-flex">
    <div class="ct">
        <div class="profile-photo">
            <div class="prof">
                <img src="https://github.com/ashishsahu1/Movie-Ticket-Usecase/assets/52550558/2120e5e0-6909-43af-96e5-35fabb049719"
                    alt="profile-photo" srcset="">
            </div>
        </div>
        <div class="profile-text">
            <h3>Name Here</h3>
            <h4>Email id here</h4>
        </div>
        <div class="profile-bookings">
            <app-books/>
            <app-books />
            <app-books />
        </div>
    </div>
</div>