<app-navbar />
<div class="about-page d-flex">
    <div class="ct">
        <div class="profile-photo">
            <div class="prof">
                <img src="https://github.com/ashishsahu1/Movie-Ticket-Usecase/assets/52550558/2120e5e0-6909-43af-96e5-35fabb049719"
                   name="profile" alt="profile-photo" srcset="">
            </div>
        </div>
        <div class="profile-text">
            <h3>{{user.getUser.name}}</h3>
            <h4>{{user.getUser.email}}</h4>
        </div>
        <div class="profile-bookings">
            <div *ngFor="let book of user.getUser.bookings" class="profile-booking">
                <app-books (deletionDone)="handleDelDone($event)" [bookId]="book" />
            </div>
        </div>
    </div>
</div>