<app-navbar />

<div class="container main-home">
    <h4 class="text-center">Hello {{username}}</h4>
    <h2 class="text-center hdd">Book your silver screen... <span>and live the magic</span></h2>
    <p class="text-center sub-hdd p-3">Unlock cinematic magic! Immerse in silver screen's allure. Laughter, tears, and thrilling scenes await. Grab your
    popcorn, let the stories unfold. Movie magic beckons! Book your ticket now, experience wonder!</p>
    <app-movie-list/>
</div>
<!-- <app-footer /> -->


