<div class="card cardd m-5 text-bg-dark" style="width: 18rem;--bs-bg-opacity: .4;">
    <img src="https://images.immediate.co.uk/production/volatile/sites/3/2018/05/IRON-2008-d7a2706.jpg?quality=90&resize=800,534" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title Ttl">Card title</h5>
        <p class="card-text text-orange Dsc">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="btn btn-dark">Book now</a>
    </div>
</div>